.category_display_container {
    padding: 0px;
    display: flex;
    @media (max-width: $desktop-breakpoint) {
        padding: 0px;
    }
}

.category_display_left {
    width: 20%;
}


.category_display_right {
    padding: 10px 20px 100px 20px;
    background: var(--primaryBackgroundColor);
    width: 80%;
    border: 1px solid var(--primaryBorderColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: $desktop-breakpoint) {
        width: 100%;
        padding: 10px 0px 100px 0px;
    }
}



// MOBILE STYLING

.mobile_category_display_container {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 30px;
    padding: 10px 5px;
}

.mobile_cat_selector {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: var(--primaryContainerColor);
    border: 1px solid var(--primaryBorderColor);
    display: flex;
    justify-content: space-between;
}


.mobile_cat_selector__item {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--primaryBorderColor);
    display: flex;
    justify-content: center;
}

.cat_selector {
    width: 100%;
    padding: 10px;
    background: var(--primaryContainerColor);
    border: 1px solid var(--primaryBorderColor);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryTextColor);
    transition: .3s ease;
    &:hover {
        background: $blue;
        color: #FFF;
    }
}

.cat_selector__active {
    background: $blue;
    color: #FFF;
    border: 1px solid $blue;
}


.mobile_cat_selector__close {
    background: red; 
    color: #FFF; 
    cursor: pointer;
}

.imageContainer {
    margin: 5px;
    width: 31%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primaryContainerColor);
    padding: 10px;
    border: 1px solid var(--primaryBorderColor);
    cursor: pointer;
    @media (max-width: $desktop-breakpoint) {
      width: 100%;
    }
  }



  .dogImage {
      width: 100%;
      height: 100%;
  }